/* Reset */
*{margin: 0;padding: 0;box-sizing: border-box;}

/* Section generali */
section,footer{
    width: 98%;
    margin: auto;
}
.background-blue{
    color: #1fa9e5;
}
.background-yellow{
    background-color: yellow;
}
p{
    font-size: 22px;
}
.font-article{
    font-size: 22px;
}
td{
    color: white;
}


/* Header */
.box-header{
    width: 100%;
    height: 180px;
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size:40%;
    background-position: 12% 5%;
}
.box-header img{
    width: 350px;
    margin-top: 70px;
    margin-left: 20px;
}

/* Main */
/* _____Box-Title */
.box-title{
    width: 100%;
    margin-top: 30px;

}
.box-title h1{
    font-size: 70px;
    font-weight: 900;
    
}
.box-title h3{
    font-size: 30px;
    color: grey;
}
.box-title h4{
    font-size: 20px;
    color: grey;
}
/* _____Box-img */
.box-img{
    margin-top: 30px;

}
.box-img img{
    width: 45%;
    height: 600px;
    object-fit: cover;
}
#img-uno{
    width: 50%;
}
.box-img h4{
    margin-top: 2px;
    font-size: 20px;
}

.box-article{
    margin-top: 30px;
}
.box-ul{
    margin-left: 18px;
    margin-top: 30px;
}
.table{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    border-collapse: collapse;
    
}
table thead td{
    background-color: #20a9e5;
}
table tbody td{
    background-color: #8abdd3;
    color: black;
}
.table-uno{
    width: 25%;
}
.table-due{
    width: 25%;
}
.table-tre{
    width: 50px;
}
#seconda-riga{
    background-color: white;
}
#color-seconda-riga{
    color: black;
}
.white{
    background-color: white;
}

/* Footer */
.box-footer{
    margin-top: 50px;
}
.box-footer h3{
    color: grey;
    font-size: 22px;
    margin-bottom: 10px;
}
/* Immagini footer */
.img-uno{
    background-image: url(../img/monitor.jpg);
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    padding: 10px;
}
.img-due{
    background-image: url(../img/graph.jpg);
    width: 300px;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
}
.img-due h3, .img-uno h3{
    color: white;
}

